/* App.css */
.department-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.department {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.department h2 {
    margin-bottom: 10px;
}

.lector-container {
    white-space: nowrap; /* Prevent text wrapping */
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block; /* To make the container size based on content */
    max-width: 100%; /* Adjust the max-width as needed */
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-department-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; /* Adjust the width as needed */
}

.new-department-form input {
    margin-bottom: 10px;
}

.department-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}




