/* App.css */
.department-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.department {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.department h2 {
    margin-bottom: 10px;
}

.lector-container {
    white-space: nowrap; /* Prevent text wrapping */
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block; /* To make the container size based on content */
    max-width: 100%; /* Adjust the max-width as needed */
}




